@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

<h1>Bookstore</h1>

<table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Number of Pages</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.Isbn</td>
                <td>@book.Classification</td>
                <td>@book.Category</td>
                <td>@book.PageCount</td>
                <td>@book.Price</td>
            </tr>
        }
    </tbody>
</table>

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn" 
    page-class-normal="btn-outline-dark" page-class-seleceted="btn-primary" class="btn-group pull-right m-1"></div>